@import '../mixins';

.projects_container{
    @include width_1400;
    margin: 100px auto 100px;

    .projects_content{
        width: 90%;
        margin: 0 auto;
    }
    .projects_title{
        @include code_font_style;
        &::after{
            content: '🎨';
        }
    }

    .tabmenu{
        display: flex;
        align-items: center;
        font-size: 40px;
        font-weight: 600;
        text-align: center;
        color: rgba(0, 0, 0, 0.3);
        > div{
            width: 50%;
            margin-bottom: 30px;
            padding-bottom: 16px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
            cursor: pointer;
            &.active{
                color: $black;
                border-bottom: 2px solid $black;
            }
        }
    }
    .project_item{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 26px;
    }
    .data_box{
        cursor: pointer;
        .data_thumbnail{
            overflow: hidden;
            >img{ 
                @include img_layout;
                transition: transform 0.3s ease; 
            }
            & img:hover {
                transform: scale(1.05);
            }
        }
        .data_content{
            margin: 30px 0;
            h3{
                @include suite_black_26;
                margin-bottom: 15px;
            }
            >.solid_line{ margin: 15px 0; }
        }
        .data_subtitle{
            font-family: $suiteRegular;
            @include suite_black_20;
            margin-bottom: 10px;
            color: #555;
        }

        .data_stack{
            @include suite_black_16;
            .data_tagbtn{
                display: inline-block;
                padding: 5px 8px;
                border-radius: 15px;
                margin: 0 10px 10px 0;
            }
        }
    }
}

.project_absolute{
    position: relative;
}

// 팝업
.popup_container{
    @include Glassmorphism2;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 40px;
    width: 50%;
    height: 90vh;
    line-height: 1.5;
    overflow: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
    h4{
        font-size: 18px; 
        font-weight: normal;
        margin: 6px 0;
    }
    li{
        margin: 30px 0;
    }
    li:nth-of-type(1){
        margin: 0 0 15px 0;
    }
    .popup_title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        h3{
            @include suite_black_30;
            font-weight: 600;
        }
        .left_content{
            display: flex;
            align-items: center;
            gap: 10px;
            p{
                width: 32px; height: 32px;
                >img{ @include img_layout; display: block; }
            }
        }
        >p{ 
            width: 20px; height: 20px;
            cursor: pointer;
            >img{ @include img_layout; display: block; }
        }
    }
    .popup_subtitle{
        @include suite_black_16;
        margin: 10px 0 20px;
    }
    .popup_description{
        @include suite_black_20;
        margin: 30px 0;
        white-space: pre-line
    }
    .popup_info{
        display: flex;
        gap: 30px;
        .popop_team{ width: 14%; }
        .data_link{
            display: block;
              span {
                display: inline;
                border-bottom: 1px solid $black;
            }
            &:nth-of-type(1){
                margin-bottom: 12px;
            }
        }
        .popup_period{
            >p{ white-space: pre-line; }
            .mainPeriod {
                display: block;
                font-size: 20px;
            }

            .subPeriod {
                display: block;
                font-size: 17px;
                color: #666;
                margin-top: 4px;
            }
        }
    }
    .popup_frontEnd{
        .tagbtn{ margin-bottom: 10px; }
    }
    .popup_myRoles{
        h4{ font-size: 20px !important; }
        .anji_role{ 
            @include suite_black_18; 
            font-weight: normal;
            margin: 30px 0 20px;
        }
        .role_container{
            margin: 18px 0;
            .role_title {
                @include flex;
                gap: 8px;
            }
            >p{ 
                @include suite_black_18;
                margin-left: 18px;
                color: #2b2b2b; 
            }
        }
    }
    .popup_troubleshooting{
        h4{ font-size: 18px !important; color: #2b2b2b;}
        >p{ 
            @include suite_black_18;
            margin-left: 18px;
        }
        .troubleshooting_title{
            @include suite_black_18; 
            font-weight: normal;   
            margin: 30px 0 20px;
        }
        .troubleshooting_content{
            margin-bottom: 30px;
        }
    }

    .popup_issue{ @include suite_black_20; margin-bottom: 6px; white-space: pre-line;}
    .popup_cause>p, .popup_solutions>p{ 
        @include suite_black_18; 
        margin-left: 18px;
        white-space: pre-line;
    }
    .popup_issue::before{
        content: '🚧';
        padding-right: 5px;
    }
    .popup_issue>div, .popup_cause>div, .popup_solutions>div{
        @include flex;
        gap: 8px;
    }
}

.popup_container::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
}

.overlay {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
}

@import './res-projects';