// ======================
// ========width=========
// ======================



// ======================
// ========color=========
// ======================

// * basic color
$black: #000;
$fontgray: #333;
$white: #fff;
$gray: #ccc;

// * point color 
$button: rgba(255, 228, 242, 0.5);

$pink: #DC78A1;
$lightPink: #F0BFD3;

$mint: #53C3BD;
$lightMint: #B1E5E2;

$orange: #F6AA88;
$lightOrange: #FFDAC9;

$lavender: #B0B0D8;
$lightLavender: #D6D6E7;


// ======================
// =========font=========
// ======================

$code : "code";
$suiteLight : "suiteLight";
$suiteRegular : "suiteRegular";
$suiteSemi : "suiteSemi";
$suiteBold : "suiteBold";

// ======================
// ======font size=======
// ======================

$bigTitle: 60px;
$title: 40px;
$subTitle: 26px;
$regular: 16px;

// ======================
// ========radius========
// ======================

$radius: 20px;

// ======================
// =====line-height======
// ======================

$lineHeight1: 120%;
$lineHeight2: 140%;

