@import '../mixins';

.skills_container{
    margin-top: 430px;
    padding: 100px 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    background: url('../../../public/imgs/gradient_bg.png') no-repeat center center;
    // animation: backgroundRotate 9s linear infinite;
    position: relative;
    background-size: cover;
    mask-image: linear-gradient(180deg, #fff 90%, #fff0);
    -webkit-mask-image: linear-gradient(180deg, #fff 90%, #fff0);
    >p{
        font-size: 26px;
        line-height: 1
    }
    .skills{
        width: 1400px;
        margin: 50px auto;
        @include code_font_style;
        &::after{
            content: '🔨';
        }
    }
    .skills_item{
        display: flex;
        align-items: start;
        gap: 6px;
        margin-bottom: 30px
    }

}
.swiper {
    z-index: 0 !important;
}
.swiper-wrapper{
    margin: 0 38px;
}
.swiper-slide{
    padding: 40px 0;
}
.skillsItme_content{
    @include Glassmorphism2;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    backdrop-filter: blur(8px);
    width: 560px; height: 900px;
    padding: 40px;

    h3{
        @include suite_black_40;
        font-weight: normal;
        margin-bottom: 40px;
    }
    .skills_name{
        @include suite_black_26;
    }
    .skills_description{
        @include suite_black_14;
    }

}

// 아이콘 박스
.iconBox{
    width: 30px; height: 30px;
    backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    border: 1px solid $white;
    padding: 7px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    >p{
        width: 16px; height: 16px;
        >img{ @include img_layout; display: block; object-fit: contain;}
    }
}

// @keyframes backgroundRotate {
//   0%   { transform: rotate(0) scale(1); }
//   10%  { transform: rotate(36deg) scale(1.5); }
//   20%  { transform: rotate(72deg) scale(1); }
//   30%  { transform: rotate(108deg) scale(0.75); }
//   40%  { transform: rotate(144deg) scale(1); }
//   50%  { transform: rotate(180deg) scale(1.5); }
//   60%  { transform: rotate(216deg) scale(1); }
//   70%  { transform: rotate(252deg) scale(0.75); }
//   80%  { transform: rotate(288deg) scale(1); }
//   90%  { transform: rotate(324deg) scale(1.5); }
//   100% { transform: rotate(360deg) scale(1); }
// }

@import './res-skills';